@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i|Spartan:400,700&display=swap');

body {
    background-color: #000000;
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
}

/*typography*/
h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 0 20px 0;
}

h1 {
    text-align: left;
    letter-spacing: 40px;
    font-size: 60px;
    padding: 15px 2px 15px 2px;
}

h2 {
    padding-top: 20px;
    font-size: 40px;
    font-style: bold;
    color: #1A7480;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 3px solid #1A7480;
    padding-bottom: 20px;
    border-bottom-color: #8d3c1a;
}


.wrapper {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;

}

header {
    background-color: 000000;
    color: #1A7480;
    font-style: oblique;
    width: 1000px;
    height: 200px;

}

nav {
    background-color: #000000;
    align-content: center;
    width: 1000px;
    height: 0px;
}

nav ul li {
    display: inline;

}

/*button */
nav ul li a {
    color: #1A7480;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 30px;
    font-style: bold;
    letter-spacing: 7px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*background color for button*/
nav ul li a:hover {
    background-color: #000000;
    text-decoration: underline;
    text-decoration-color: #8d3c1a;
}

.hero {
    min-height: 350px;
    background-image: url(../images/churchill-house-4.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}

main {
    color: #ffffff;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 30px;
    font-family: 'Spartan', sans-serif;
    text-align: justify;
    letter-spacing: 4px;
    overflow: hidden;
}

p {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 30px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    padding-top: 30px;
}
